
<span class="uisheet screen-darken"></span>
<section class="der-lab-trabajadores my-5 col col-md-8 col-lg-8 col-12 ">
    <div class="row w-100">
        <div class="col-12  justify-content-center w-100">
            <a href="{{$ url()->previous() $}}" class="btn btn-primary btn-primary-ccls rounded-pill"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
                Regresar
            </a>
            <h2 class="h2 my-3 text-left d-block h2-principal">
                {{ title | sanitize  }}
            </h2>
            <hr>

            Content
        </div>
    </div>  
    
</section>