<section class="section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <section class="section">
                    <div class="section-header px-4 py-2 mb-1">
                        <h3 class="page__heading p-0 m-0 dorada text-center"> Error 404</h3>
                    </div>
                    <div class="section-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">                            
                                        <div class="page-description">
                                            <h1 class="text-center">La página que buscas no fue encontrada</h1>
                                        </div>
                                        <div class="mt-3">
                                            <a href="{{ homepage }}">Regresar a inicio</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>                
            </div>
        </div>
    </div>        
</section>