<nav class="nav navbar navbar-expand-xl navbar-light iq-navbar navbar_border">
    <div class="container-fluid navbar-inner">
        <div class="col-md-2 navbar-brand d-flex justify-content-center">
            <a href="{{ homepage }}" class="d-flex">
                <svg width="250" height="100" xmlns="http://www.w3.org/2000/svg">
                    <image href="/assets/contenidos/logo.png" height="100" width="250" />
                </svg>
            </a>
        </div>

        <ul class="navbar-nav mb-2 mt-0 mb-lg-0 ">
            <li class="nav-item dropdown">
                <form class="d-flex formSearch" action="/search">
                    <input class="form-control" type="search" placeholder="Buscar" id="input_search" name="q"
                        aria-label="Search">
                    <button class="btn btn-outline-dark bntSearchnew" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </li>
        </ul>

    </div>
</nav>