<div class="container vh-75">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10" id="principal">
            <div class="card px-1 py-3 mt-5 shadow" >
                <div id="calculo" class="px-3 calculo position-relative" style="font-size: 16px">
                    {{ sections }}
                    <div class="form-section" style="text-align: justify;">
                        {{ text_section | nl2br | markdown }}
                    </div>
                    {{ /sections }}
                    <div class="form-navigation mt-3 pt-4">
                        <button type="button" class="previous btn btn-primary position-absolute bottom-0 start-0 mx-3 btn-sm">&lt; Regresar</button>
                        <button type="button" class="next btn btn-primary position-absolute bottom-0 end-0 mx-3 btn-sm" btn-sm>Continuar &gt;</button>
                        <a class="submit btn btn-primary btn-primary-ccls position-absolute bottom-0 end-0 mx-3 btn-sm" href="{{ next_page:url }}">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>